.task {
    padding: .5rem 1rem;
    margin: .3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $bgTaskLight;
    min-height: $taskMinHeight;
    border-radius: $taskBorderRadius;
    &.active {
        background: $bgActiveTask;
    }
    .detail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }
    .text {
        color: $fontLight;
        font-size: $fontSizeText;
    }
    .steps {
        color: $fontGrey;
        font-size: $fontSizeDetail;
        padding-top: .5rem;
    }
}

.add-task {
    position: absolute;
    bottom: $categorySpacer;
    left: $categorySpacer;
    right: $categorySpacer;
    border-radius: $taskBorderRadius;
    min-height: $taskMinHeight;
    background: $bgTaskDark;
    color: $fontPurple;
    display: flex;
    
    input {
        @include unstyled-input;
        color: $fontPurple;
        &::placeholder {
            color: $fontPurple;
        }
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    svg {
        width: 1.75rem !important;
        height: 1.75rem !important;
        color: $fontPurple;
    }
}

.pill {
    display: inline-block;
    color: $fontPurple;
    font-size: $fontSizeText;
    padding: .5rem .75rem;
    background: $bgTaskDark;
    border-radius: 6px;
    text-transform: capitalize;
    margin: {
        top: 1rem;
        bottom: .5rem;
    }
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    &.active {
        background: $bgActiveCategory;
    }
    .icon {
        padding-left: 0;
        padding-right: 1.5rem;
        svg {
            width: 1.4rem !important;
        }
    }
    .category-label {
        max-width: 100%;
        display: flex;
    }
}

.add-category {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    .icon {
        svg {
            color: $fontLight;
            width: 1.2rem !important;
        }
    }
    input {
        @include unstyled-input;
        color: $fontLight;
        &::placeholder {
            color: $fontLight;
        }
    }
}

.error-message {
    background: rgba($danger, .1);
    border-radius: 25px;
    border: 2px solid $danger;
    display: flex;
    align-items: center;
    margin: 4rem;
    padding: 1rem;
    .icon {
        margin-right: 2rem;
        svg {
            width: 2.5rem !important;
            height: 2.5rem !important;
            color: $error !important;
        }
    }
    .text {
        color: $error;
        font-size: 1.4rem;
    }
}