.width-control {
    flex: 1;
    max-width: 100rem;
    margin: 0 auto;
}

.text-strikethrough {
    text-decoration: line-through;
}

.text-grey {
    color: $fontGrey !important;
}

.text-light {
    color: $fontLight;
}

.font-size-text {
    font-size: $fontSizeText;
}

.font-size-detail {
    font-size: $fontSizeDetail;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.warning {
    color: $warning !important;
}