.categories-panel,
.steps-panel {
  min-width: 25rem;
  max-width: 35rem;
  height: 100%;
  background: $bgCategoriesPanel;
  resize: horizontal;
  overflow: auto;
  padding: 2rem;

  hr {
      border-color: $fontGrey;
  }
}

.task-panel {
  width: 100%;
  padding: $categorySpacer;
  position: relative;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: {
      top: 1rem;
      bottom: 3rem;
    }
    .h1 {
      color: $fontPurple;
    }
  }
}