// sizing:
$taskMinHeight: 5rem;
$categorySpacer: 2rem;
$taskBorderRadius: 4px;

// background colors:
$bgCategoriesPanel: #201C22;
$bgCategory: #171717;
$bgTaskLight: #262626;
$bgTaskDark: #1D1D1D;

$bgActiveCategory: #353433;
$bgActiveTask: #2F3140;

// font colors:
$fontLight: #DADADA;
$fontGrey: #A5A5A6;
$fontPurple: #6575D6;

// colors:
$light: #DADADA;
$grey: #A5A5A6;
$purple: #6575D6;

// indicator colors:
$success: darkgreen;
$warning: darkOrange;
$danger: darkred;

// font sizes:
$fontSizeDetail: 1.1rem;
$fontSizeText: 1.4rem;
$fontSizeTitle: 2.4rem